*{
    padding: 0;
    margin: 0;
   
}

#header{
    background-image: url(../img/banner.jpg);
    height: 80vh;
    background-size: cover;
    background-position: center;

}

.navbar-nav li{
    float: left;
    color: hsl(0, 0%, 100%) !important;
}

.navbar-brand img{
    width: 150px;
    margin-left: 30px;
}

.navbar-toggler{
    border: none !important;
    outline: none !important;

}

.nav  .fa-bars{
    color: #fff !important;
    font-size: 26px;

}

/*-------------- Welcome Text -------------*/

.welcome{
    padding: 50px 100px;
    margin-top: -140px;
    background-color: #fff;
    box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.2);

}

.welcome h1
{
    color: #333;
}

.welcome .home-btn
{
    margin-top: 10px;
    padding: 10px 30px ;
    border-radius: 30px;
    color: #fff;
    background-color: #013f7e;
}
.welcome .btn:focus
{
    box-shadow:none;
}

/*-------------        About Us      -----------------*/

#about{
    padding-top: 100px;
    padding-bottom: 100px;
}

#about .col-md-6
{
   
    padding-bottom: 20px 10px;
}
#about h3
{
   
    margin: 20px auto;
}

/*-------------- Services--------------*/

#Services
{
    background-color: #efefef;
    padding-top: 80px;
    padding-bottom: 80px;

}
#Services .col-md-4
{
    padding: 20px;

}

#Services .col-md-4 h4
{
    padding: 5px;

}

#Services.col-md-4 img
{
    width: 5px;

}

#Services .col-md-4 p
{
    padding: 5px;
    text-align: justify;
}


/*---------   Features    ----------*/


#Features{
    padding-top: 100px;
    padding-bottom: 100px;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../img/feature-background.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;

}

#Features .col-md-6{
    padding: 20px;

}

.feature-box
{
    height: 120px;

}

.feature-box .feature-left
{
    height: 120px;
    width: 20%;
    float: left;
}

.feature-box .feature-left i
{
    padding-top: 13px;
    font-size: 50px;

}

.feature-box .feature-right
{
    height: 120px;
    width: 80%;
    float: left;
}   

.feature-box .feature-right h4
{
    padding-top: 10px;
    padding-left: 15px;
    text-align: left;

}

.feature-box .feature-right p{
    padding-left: 15px;
    text-align: left;

}

/*---------    Testimonilas   ---------*/

#Testimonilas{
    padding-top: 100px;
    padding-bottom: 100px;

}
#Testimonilas .col-md-4
{
    padding: 10px 30px;
}
#Testimonilas img
{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: -30px;
    margin-top: -40px;
    border: 5px solid#fff;
    margin-bottom: 30px;

}

.review
{
    font-size: 16px;
    padding: 10px 10px 10px 30px;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.review .fa-twitter{
    color: #013f7e;
}

#Testimonilas span{
    color: #013f7e;
    font-weight: 600;
    font-size: 18px;
} 

#Testimonilas h1
{
    margin-bottom: 20px;
    color: #013f7e;
}

#Testimonilas p
{
    padding-bottom: 20px;
}

#Testimonilas.middle
{
    margin-bottom: -30px;
    margin-bottom: -30px;
}

/*----------------   subscribe   -----------------*/

.subscribe{
    padding: 50px 20px;
    background-color: #013f7e;
    position: relative;
    box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.2);

}

.subscribe h3, 
.subscribe p
{
    color: #fff;
}

.subscribe .input-gorup
{
    border-radius: 30px;
    background: #fff;
    max-width: 500px;
    margin: 10px auto;
    padding: 5px;
}

.subscribe .form-contorl
{
    border: none;
    background:transparent ;
}

.subscribe .form-contorl:focus
{
    box-shadow: none;
    background: transparent;
}

.subscribe .input-gorup-append
{
    background-image: linear-gradient( to right, #1c03b5, #5c8bef);
    border-radius: 30px;
}

.subscribe .input-gorup-text
{
    background: transparent;
    border:none;
    color: #fff;

}

.subscribe.btn:focus
{
    box-shadow: none;
}

/*---------------   Footer   ---------------*/

#footer
{
    margin-top: 80px;
    padding: 100px;
    background-color: #efefef;
    color: #013f7e;
}

.footer-logo
{
    width:150px;
    margin-top: 25px;
    margin-bottom: 15px;

}

#footer h1
{
    font-size: 15px;
    text-align: left;
    margin-top: 25px;
    margin-bottom: 25px;

}

#footer p
{
    font-size: 12px ;
    text-align: left;
}

#footer .city{
    margin-left: 37px;
}
#footer .row .fa{
    padding-right: 20px;
    font-size: 15px;
}
#footer hr{
    margin-top: 10px;
}    
#footer .fa-heart{
    color: red;
    font-size: 17px;
}
#footer .copyright{
    margin-bottom: -80px;
    text-align: center;
    font-size: 15px;
}
